/* SideNav.css */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #86CAFF; /* Blue theme */
    padding-top: 20px;
    color: #001f3f; /* Dark navy blue for text color */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidenav .logo-img {
    width: 150px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px; /* Space between logo and nav items */
    border-radius: 50%; /* Ensures the logo's shadow has a round shape */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); /* Round shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for effects */
  }
  
  .sidenav .logo-img:hover {
    transform: rotate(10deg); /* Rotate the logo slightly */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9); /* Darker and larger shadow on hover */
  }
  
  .sidenav .logo-img {
    width: 150px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px; /* Space between logo and nav items */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for effects */
  }
  
  .sidenav .logo-img:hover {
    transform: rotate(10deg); /* Rotate the logo slightly */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  }
  
  .sidenav .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure the list items take up full width */
  }
  
  .sidenav .nav-item {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: #001f3f; /* Dark navy blue for font color */
    font-size: 27px;
    font-family: "Oswald", sans-serif; /* Apply Oswald font */
    font-weight: 500; /* Apply desired font weight */
    border-left: 4px solid transparent; /* Add a left border for active effect */
    transition: background-color 0.3s ease, color 0.3s ease, border-left 0.3s ease; /* Smooth transition for effects */
  }
  
  .sidenav .nav-item a {
    text-decoration: none;
    color: inherit; /* Inherit color from nav-item */
    font-size: 18px;
    margin-left: 10px;
    font-family: "Oswald", sans-serif; /* Apply Oswald font */
    font-weight: 500; /* Apply desired font weight */
  }
  
  .sidenav .nav-item:hover {
    background-color: #0056a0; /* Darker blue on hover */
    border-radius: 4px;
    color: #e0e0e0; /* Lighter color for text on hover */
    border-left: 4px solid #ffffff; /* Highlight border on hover */
  }
  
  .sidenav .nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
  